.date-selector {
  width: auto;
  margin-left: 30px;
  .date-selector-buttons {
    float: left;
    margin-left: 8px;

    &.show {
      visibility: visible;
    }

    &.hide {
      visibility: hidden;
    }
  }
  span, .rangebox {
    margin-top: 3px;
    float: left;
  }
  .date-range-picker {
    display: inline-block;
    float: left;
    width: 224px;
    cursor: pointer;

    button {
      &:before {
        content: "\e612";
        font-family: 'icomoon';
        font-size: 16px;
        position: relative;
        left: 3px;
        float: right;
      }
    }
    .rangebox {
      color: @link;
      background: transparent;
      border: 0;
      padding: 0;
    }

    &:hover .rangebox {
      text-decoration: underline;
    }

  }

  .reset-range {
    font-size: 11px;
    text-decoration: none;
    padding: 0 5px;
    &:before {
      content: "\e630";
      font-family: 'icomoon';
      font-size: 16px;
      margin-right: 5px;
      position: relative;
      top: 3px;

    }
  }
}

.daterangepicker {

  min-height: 340px;

  .calendar {
    position: relative;
    top: 50px;
    margin-top: 0;
  }

    .ranges {
      clear: both;
      width: ~"calc(100% - 16px)";
      position: absolute;
      top: 0;
      margin-top: 16px !important;

      .applyBtn {
        position: absolute;
        top: 292px;
        width: 40%;
        margin: 0 auto;
        left: 0;
        right: 0;
      }

      .cancelBtn {
        position: absolute;
        top: 292px;
        left: 83px;
        background: none;
        border: none;
        box-shadow: none;
        text-decoration: underline;
      }

      .daterangepicker_end_input {
        position: relative;
        left: ~"calc(50% - 128px)";
        padding-left: 0 !important;
      }

      .daterangepicker_end_input, .daterangepicker_start_input {

        label {
          float: left;
          font-size: 16px;
          margin: 4px;
          text-transform: none;
        }

        .input-mini {
          float: left;
          margin: 0;
        }
      }
    }

  .icon {
    opacity: 1.0 !important;
    background-image: none !important;
    font-style: normal;
    width: auto;
    top: 0;
    left: 0;
  }

  .icon-arrow-left {
    float: left;
    &:before {
      content: "\e626";
    }
  }

  .icon-arrow-right {
    float: right;
    &:before {
      content: "\e627";
    }
  }
}
