.download-link {
  position: relative;
  color: @link;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 2;
  font-family: @mainFont;
  text-decoration:none;

  &:before {
    content: "\e60e";
    width: 20px;
    height: 20px;
    font-family: 'icomoon';
    position: relative;
    font-size: 20px;
    display: inline;
    margin-right: 5px;
    top: 3px;
    left: -2px;
  }

  &:hover, &:focus {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
}

.download-text {
  margin-bottom: 15px;
}

.download-pic-and-link {
  a {
    position: relative;
    max-width: 250px;
    left: 1.8em;
    &:hover {
      cursor: pointer;
    }
    &:before {
      position: absolute;
      content:"\e615";
      width: 1em;
      height: 1em;
      left: -1.2em;
      font-size: 20px;
      margin-right: 5px;
      font-family: 'icomoon';
      color: @level5;
    }
  }
}