.filters-link {
	position: relative;
	color: @link;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	z-index: 2;
  	font-family: @mainFont;
  	&:hover, &:focus {
	  text-decoration: none;
	  span {
		text-decoration: underline;
	  }
	}

	&:before {
		content: "\e60a";
		width: 20px;
		height: 20px;
		font-family: 'icomoon';
		position: relative;
	  	font-size: 20px;
	  	display: inline;
	  	margin-right: 5px;
	  	top: 3px;
	  	left: -2px;
	}
}

.filter-bar {
	box-sizing: border-box;
  	border-top: solid 1px @border;

	.filter-editor {
		max-height: 0px;
		visibility: hidden;
		transition: max-height .5s;
		overflow:hidden;
		position: relative;
	}
	&.expanded .filter-editor {
		display:block;
		max-height: 400px;
		overflow: visible;
		visibility: visible;

		&:before, &:after {
			border:solid 15px transparent;
			content: ' ';
			position: absolute;
			bottom:100%;
			right: 105px;
			margin-right: 2em;
			border-bottom-color: rgba(244,244,244, 1);
		}
		&:before {
			margin-bottom: 1px;
			border-bottom-color: @border;
		}
	}
	.animating-spacer {
		padding: 20px 15px;
	}

	&.expanded {
		display: block;
		/*max-height: 186px;*/
		max-height: 400px;
	}

	background: -moz-linear-gradient(top,
		rgba(244,244,244,1) 0%,
		rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%,rgba(244,244,244,1)),
		color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,
		rgba(244,244,244,1) 0%,
		rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,
		rgba(244,244,244,1) 0%,

		rgba(255,255,255,1) 100%); /* W3C */
	.filters-header {
		font-size: 12px;
		text-transform: uppercase;
	}
	.filters-header,
	.btn-group {
		margin-right: 10px !important;
		margin-left: 10px !important;
		margin-bottom: 10px !important;
	}
	.selectors {
		margin-bottom: 5px;
		.btn {
			height: 30px;
			min-width: 216px;
			text-align: left;
		}
		.caret {
			float:right;///*should be moved to caret in header*/
			text-align: center;
		}

	  .dropdown-menu {
		padding: 10px 0 15px 0;
		border: 1px solid @border;
		border-radius: 4px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	  }

	  .dropdown-menu>li>a {
		display: block;
		padding: 0 20px 0 15px;
		clear: both;
		font-size: 13px;
		font-weight: 600;
		line-height: 30px;
		color: #000000;
		white-space: nowrap;
		filter: none;

		label {
		  padding: 5px 0px 5px 20px;
		  span {
			font-size: 13px;
			font-weight: 600;
			white-space: nowrap;
		  }
		}
	  }

	  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-submenu:focus>a, .dropdown-submenu:hover>a {
		color: #ffffff;
		text-decoration: none;
		background-color: @purple;
		background-image: none;
	  }
	}

	.cancel-link {
		font-size: 14px;
		color: @light;
		text-decoration: underline;
	}
	.apply-button {
		background-color: fade(@level4, 50%);
		background-image: none;
		border: 1px solid fade(@medium, 30%);
		color: #fff;
		text-shadow: none;
		box-shadow: 0 1px rgba(255,255,255,.5) inset;
	}
	&.pending-apply .apply-button {
		background-color: @level4;
	}
	.edit-filters, .clear-all-filters {
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		color: @link;
		position: relative;
		padding-left: 0;
		margin-left: 16px;
	}

	.edit-filters:before {
		font-family: 'icomoon';
		content: "\e60f";
		position: absolute;
		right: 100%;
		margin-right: .3em;
	}
	.clear-all-filters:before {
		font-family: 'icomoon';
		content: "\e603";
		position: absolute;
		right: 100%;
		margin-right: .3em;
	}

	&.expanded .edit-filters {
		display: none;
	}
	.crumb-bar {
		padding: 10px 20px;

		.filter-crumb {
			font-size: 13px;
			margin-right: 10px;
			&:after {
				font-family: 'icomoon';
				color: rgba(255,0,0, .5);
				width: 1em;
				height: 1em;
				content:'\e603';
				vertical-align: bottom;
				margin-left: .3em;
			}
			&:hover:after {
				color: rgba(255,0,0, 1);
			}
			.filter {
				font-weight: 600;
				color: @dark;
			}
		}
	}
}

.filter-bar {

  border-top: none;

  &.expanded{
	border-top: solid 1px @border;
  }

  .dropdown-toggle {
	& > span.caret {
	  padding: 0;
	}
  }
}


/*border hack for weird table size*/
.cpop.growth {
	.filter-bar {
		margin-bottom: -1px;
		&.expanded .filter-editor, .crumb-bar{
			border-bottom: solid 1px @border;
		}
	}
}