.level-colored-value {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 .5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  color: @color-black !important;
}
.overall .level-colored-value{
  &.level-1 {
    background-color: @level1;
  }

  &.level-2 {
    background-color: @level2;
  }

  &.level-3 {
    background-color: @level3;
  }

  &.level-4 {
    background-color: @level4;
  }

  &.level-5 {
    background-color: @level5;
  }
}
.expressiveness .level-colored-value {
//expressiveness is zero based
  &.level-0 {
    background-color: @level1;
  }

  &.level-1 {
    background-color: @level2;
  }

  &.level-2 {
    background-color: @level3;
  }

  &.level-3 {
    background-color: @level4;
  }

  &.level-4 {
    background-color: @level5;
  }
}

.progress {
  border-radius: 0 !important;
  margin: 4px 10px 0 10px;
  height: 22px;
  .bar {
    font-family: @mainFont;
    font-size: 12px;
    font-weight: 600;
    color: @dark;
    height: 22px;
    line-height: 2em;
    background-image: none !important;
    filter: none;
    &.level-1 {
      background-color: @level1;
    }
    &.level-2 {
      background-color: @level2;
    }
    &.level-3 {
      background-color: @level3;
    }
    &.level-4 {
      background-color: @level4;
    }
    &.level-5 {
      background-color: @level5;
    }
    &.level-1.claims {
      background-color: @perfBelow;
    }
    &.level-2.claims {
      background-color: @perfNear;
    }
    &.level-3.claims {
      background-color: @perfAbove;
    }
    &.claims.summary .percentageOnBar
    {
      display: none;
    }
  }
}
.claimWrapper{
  .reading{
    .bar{
      background-color: @link;

    }
    .avgRightBar{
      top: -10px;
    }
  }
  .writing{
    .bar{
      background-color: #83b8be;
    }
    .avgRightBar{
      top: -6px;
    }
    .claimAvg{
      margin-top: 8px;
    }
  }
  .claimAvg{
    border-radius: 0 !important;
    margin: 4px 10px 0 10px;
    height: 4px;
    width: 90px;
    position: relative;
    float: left;
    .bar{
      font-family: @mainFont;
      font-size: 12px;
      font-weight: 600;
      color: @dark;
      height: 4px;
      line-height: 2em;
      background-image: none !important;
    }
  }
  .avgRightBar {
    font-family: @mainFont;
    font-size: 11px;
    font-weight: 600;
    color: @dark;
    float: right;
    position: relative;
    height:10px;
  }
}
.columnLink {
  color: @link;
  text-align: left;
  &:hover {
    color: @link;
  }
}
.claimWrapper{
  margin-top: 2px;
}
.summaryType {
  padding-top: 5px;
  line-height: 0px;
  font-size: 10px;
  font-weight: 400;
  color: @dark;
  text-transform: uppercase;
}
input.gridCheckbox {
  margin-right: 14px;
  margin-top: -3px;
  position: relative;
  right: 3px;
}

.alert-icon {
  .sprite(@alert);
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -10px;
}

.alert-icon {
  .sprite(@alert);
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -10px;
}

.alert-icon-suppression {
  .sprite(@alert);
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
}
.report-grid {
  .checks-and-x {
    &:before {
      position: relative;
      left: -0.1em;
      top: 4px;
      font-size: 1.5em;
    }
    &.check:before {}
    &.x:before {}
    &.o:before {}
  }
}

.passages-cell {
  text-align: left;
  margin-left: 5px;
}

.passages-header-cell {
  text-align: left;
  margin-left: 5px;
  width: 70px;

  span {
    color: @medium;
    font-weight: 400;
  }
}

.clusters {
  .cluster-item {
    width: 68px;
    border-right: dotted 1px @border;
    padding: 0 7px 0 0;
    line-height: 1.2;

    &:first-child {
      margin-left: -3px; // undo cell gutter
    }
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
  .cluster-code-info {
    color: @light;
    position: relative;
    font-size: 12px;
    .info-icon {
      .sprite(@info);
      margin-right: 0;
      display: inline-block;
      position: absolute;
      margin-right: 8px;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -10px;
      margin-right: -.8em;
    }
  }
  .checks-and-x {
    margin-left: .3em; // icon should take up space
    color: @dark;
  }
}

.grayText {
  color: @light;
}
