.axis path, .axis line, .boundary, .origin {
  fill: none;
  stroke: @border;
  shape-rendering: crispEdges;
}
.origin-text {
  fill: @medium;
  color: @medium;
  stroke: @medium;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: @mainFont;
}

.bubble {
  fill: rgb(0, 173, 238);
  stroke: @color-white;
  opacity: 0.4;
}
.activeBubble {
  fill: #4387A1;
  stroke: @dark;
  opacity: 0.8;
}
.indicator-box {
  width: 30;
  height: 20;
  fill: #464b54;
}

#comparisonSource {
  .comparisonSource {
    text-align: right;
    span {
        font-size: 13px;
    }
  }
  div.form-group {
    display: inline-block;
    padding-left: 8px;
    font-size: 12px;
    font-weight: 600;
  }
}

#growthChart {
  width: 598px;
  padding-right: 20px;
  p {
      border-top: solid 1px @border;
      margin-top: 18px;
      line-height: 28px;
      font-size: 12px;
      margin-left: 57px;
      text-align: center;
  }
}

.grayOut {
  background: @lighter;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grayBar {
  width: 538px;
  height: 46px;
  background: @lighter;
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0;
}

#growthSummary{
  margin-top: 1em;
  position: relative;
  padding-bottom: 20px;
  ul{
    margin-bottom: 0px;
  }
  .growthSummaryItem {
      border-right: solid 1px @light;
      vertical-align: bottom;
      .value {
        line-height: 26px;
      }
      &:last-child {
        border-right: none;
        padding-right: 0px;
      }
      &:first-child {
        padding-left: 0px;
      }
  }
  .growthSummaryPopBar {
    width: 398px;
    .progress{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
