#HelpMenuModal {
  width: 800px;
  margin: auto;
  left: 0;
  right: 0;

  .help-menu-header {
    border-bottom: none;
    padding-bottom: 0;
    background: @bg;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: @border;
    .nav {
      border-color: @border;
      padding: 0 15px;
      margin: 0 -15px;
      margin-bottom: 20px;
      li {

        a {
          font-family: @mainFont;
          font-size: 16px;
          font-weight: 400;
          color: @link;
        }

        &.active {

          a {
            border-color: @border;
            border-bottom-color: transparent;
            background: @color-white;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-family: @mainFont;
            font-size:16px;
            font-weight:400;
            color:@dark;

          }
        }

        &.disabled a {
          font-family: @mainFont;
          font-size: 18px;
          font-weight: 400;
          color: @medium;

          &:before {
            font-family: 'icomoon';
            content:"\e635";
            font-size: 16px;
            color: @medium;
            margin-right: 5px;
          }

          &:hover {
            border-color: transparent !important;
          }
        }
      }

    }

  }

  .modal-body {
    padding-top: 0;
    height: 400px;
    overflow: auto;
    h3.question_section_header {
      font-size: 14px;
      font-weight: 600;
      color: @medium;
      font-family: @mainFont;
    }

    ul {

      li {
        margin-bottom: 6px;
        text-align: justify;

        & > a {
          font-family: @mainFont;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          margin-bottom: 15px;
        }
      }
    }

    .go_to_top {
      font-size: 11px;
    }

    .user_guide_download {
      padding: 15px;
    }

    ul.glossary_list {
      list-style: none;

      li {
        display: inline !important;
      }
    }

    .glossay_item_header {
      span {
        float: left;
        font-size: 20px;
      }

      hr {
        width: ~"calc(100% - 50px)";
        float: right;
        margin: 10px;
      }
    }

  }

  .modal-footer {
    background: @bg;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid @border;

    div {
      width: 100%;
      text-align: left;
      font-family: @mainFont;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      line-height: 20px;

    }
  }
}