/* === LEGEND === */
#footer {
    position: relative;
    z-index:1020;
}

.below {
    position: fixed;
    width: 100%;
    top: 100%;
    z-index: 2;
    &.collapsed {
        .legend {
            transform: translateY(100%);
            transition-delay: 0.1s;
        }
        .legend-toggle {
            &.unhide {opacity: 1;}
            &.hide {opacity: 0;}
        }
    }
}

.legend {
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    background: @color-white;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    &.ccr {height: 65px;}
    & > .container {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
    }

    .centered {display: inline-block;}

    .legend-items-list {
        position: relative;
        // do we really need this?
        height: 26px;
        margin-bottom: 12px;
        margin-top:12px;
        .legend-label,
        .level {
            display: block;
            color: @dark;
            float: left;
            line-height: 30px;
        }
        .level {
            padding-left: 15px;
        }
        .legend-label {
            font-size: 13px;
            width: auto;
        }

        .legend-item-icon {
            font-size: 13px;
            width: auto;
            float: left;
            height: 26px;
            line-height: 26px;
            // is 1em the same thing?
            font-size: 16px;
            font-weight: 600;
            color: @color-white;
            text-align: center;
            margin-right: 5px;
            font-family: @mainFont;
        }
        .expressiveness {
            .legend-item-icon {
               &:extend(.level-colored-value);
               height: 26px;
               line-height: 26px;
               font-weight: 26px;
            }
            .legend-title {
                white-space: normal;
                padding-left: 4em;
            }
        }
        .level {
            &.star {
                border-left: solid 1px @border;
                padding-left: 15px;
            }
        }
        .legend-title {
            font-size: 10px;
            line-height: 13px;
            margin-bottom: 0px;
            font-weight: 400;
            text-align: left;
            white-space: nowrap;
        }
        .legend-title-1 {
            font-size: 11px;
                font-weight: 600;
                color: @dark;
        }

        &.text {
            .legend-label {display: none;}
        }

        &.masteryLevels {
            .level {width:200px;}
        }

        &.subclaimLevels {
            .level {width: 200px;}
        }

        &.performanceLevels {
            .level {width: 165px;}
            .legend_bar_square{
                width: 26px;
                height: 26px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
            }
        }
    }

    .checks-and-x {
        &:before {
            font-size: 2em;
            margin-left: -10px;
        }
    }
}


.legend-toggle {
    outline: none;
    display: block;
    position: absolute;
    background: @color-white;
    text-decoration: none;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
    &.hide {
        font-size: 20px;
        width: 1.1em;
        height: 1.1em;
        right: 15px;
        top: -.55em;
        border-radius: .55em;
        text-align: center;
        line-height: 1.1em;
        outline: none;
        &:before {
            display: block;
            content: "\e632";
            font-family: 'icomoon';
            font-weight: normal;
            color: @light;
        }
        &:hover, &:focus {
            outline: none;
            background: @medium;
            text-decoration: none;
            &:before {color: @color-white;}
        }
    }
    &.unhide {
        bottom: 100%;
        right: 10px;
        padding: 0 15px 0 30px;
        height: 24px;
        color: @medium;
        font-size: 12px;
        line-height: 2em;
        border-radius: 4px 4px 0 0;
        opacity: 0;
        &:before {
            content: "\e61d";
            margin-left: 7px;
            font-family: "icomoon";
            font-size: 20px;
            position: absolute;
            left: 0px;
        }
        &:hover,
        &:focus {
            outline: none;
            text-decoration: none;
            background: @medium;
            color: @color-white;
        }
    }
}


.legend-details.below .expressivenessLevels {
    height: auto;
    overflow: hidden;
    .legend {
        height: auto;
        padding-bottom: 1em;
    }
    .level {
        border-right: solid 1px @border;
        padding-right: .5em;
        padding-left: .5em;
        .level-colored-value {width: 1.2em;}
        .legend-title {
            max-width: 160px;
            padding-left: 0px;
            line-height: 1.5em;
            font-size: 12px;
            padding-left: 2px;
            height: 22em;
        }
    }
    .level:last-of-type {
        border-right: none;
        padding-right: none;
    }
}


@ccrColor: #389845;

.ccr-indicator {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    border-top: 2px solid @ccrColor;
    color: @medium;
    display: block;
    /*@TODO use em's for to adjust for zoom*/
    font-size: 11px;
    font-weight: normal;
    height: 5px;
    line-height: 24px;
    float: right;
    margin-right: 0px;
    text-align: center;
    position: relative;
    &:before, &:after {
        display: block;
        width: 2px;
        height: 4px;
        background-color: @ccrColor;
        position: absolute;
        bottom: 100%;
        content: ' ';
    }
    &:before {left:0;}
    &:after {right: 0;}
}

.isr-ccr-indicator {
    width: 250px;
    margin-top: 6px;
}
.legend-ccr-indicator {
    width: 350px;
    margin-top: -6px;
}
