#header {
  height: 72px;
  width: 100%;
  background-color: @bg;
  border-bottom: 1px solid fade(@purple, 35%);

  .navbar-nav {
    width: auto;
    display: block;
    margin-top: 57px;
    & > li {
      float: left;
    }
  }

  .headerLink {
    color: @dark;
    font-size: 13px;
    font-weight: 600;
    margin-top: -18px;
    cursor: pointer;
    .glyphicon:before {color: @purple;}
    &:hover,
    &:focus {
      background-color: initial;
      outline: 0;
      .glyphicon {
        text-decoration: underline;
        &:before {color: @purpleDark;}
      }
    }
  }

  #languageSelector {
    min-width: 0;
    width: ~"calc(100% + 20px)";
    top: -37px;
    right: auto !important;
    left: -13px !important;
    padding: 10px;
    .user-settings {
      &:hover {
        .glyphicon {text-decoration: none;}
      }
    }

    #log_out_button {
      &:hover {background-position: 0 15px;}
      background-color: @purple;
      background-image: -moz-linear-gradient(top,@purple,@purpleDark);
      background-image: -webkit-gradient(linear,0 0,0 100%,from(@purple),to(@purpleDark));
      background-image: -webkit-linear-gradient(top,@purple,@purpleDark);
      background-image: -o-linear-gradient(top,@purple,@purpleDark);
      background-image: linear-gradient(to bottom,@purple,@purpleDark);
      background-repeat: repeat-x;
      border-color: @purple @purple @purpleDark;
      border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@purple,endColorstr=@purpleDark,GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      width: 96%;
      display: block;
      margin: 0 auto;
      position: relative;
      right: 1px;
      color: @color-white;
    }

    #log_out {
      position: relative;
      top: 2px;
      left: 1px;
    }
    .user-settings-in-menu {
      padding: 4px 0px;
    }

    .divider {
      position: relative;
      right: 12px;
      width: ~"calc(100% + 20px)";
      background-color: @border;
    }
  }

  .logo {margin-top: 15px;}

  .selectors {
    display: inline-block;

    #yearSelector {
      position: relative;
      top: 14px;
      left: 50px;
      .dropdown-toggle {
        height: 30px;
        & > span {
          padding: 4px 0;
          padding-right: 4px;
        }
      }
    }
  }

  iframe {
    // TODO: verify
    display: none;
  }
  .nav:not(.nav-tabs) > li {
    margin-left: 30px;
  }
  .menu {
    padding-right: 1.25rem;
    white-space: nowrap;
    &:after {
      color: @purple;
      content: "\e612";
      font-family: 'icomoon';
      font-size: 1.25rem;
      font-weight: normal;
      position: absolute;
    }
  }
}

.breadcrumb {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  background-color: @color-white;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  a {
    color: @link;
    &:hover{
      color: @link;
    }
  }
  a:last-child{
    color: @medium;
    &:hover, &:focus{
      text-decoration: none;
      cursor: text;
    }
  }
  li > .divider {
    color: @medium;
    margin: 0 2px;
  }
}
.reportTitle{
  margin-top: 30px;
  margin-bottom: 20px;
}

.reportSubtitle{
  color: @dark;
  font-size: 13px;
  font-weight: 600;
  margin-top: 3px;
}

#DataExportModal {
  .selectors {
    & > div {
      margin-bottom: 10px;
    }
  }
}

.selectors {
  @height: 36px;
  display: block;
  .btn {
    outline: none;
    overflow: hidden; // this is a fix to remove the extra borders for .caret / instead should generic css for caret
    height: @height;
    font-family: @mainFont;
    font-size: 13px;
    font-weight: 400;
    color: @dark;
    padding-left: 10px;
    text-shadow: 0 1px 0 @color-white;
    border: solid 1px @border;
  }
  .selected-label,
  .selected-label > span:not(:first-child) {
    font-weight: 700 !important;
    display: inline-block;
    text-align: left;
    color: @dark;
    text-shadow: 0 1px 0 @color-white;
  }

  .dropdown-toggle {
    padding-right: 0;
    & > span {
      padding: 7px 0;
    }
  }

  .category {
    font-size: 11px;
    &:after{content: " ";}
  }

  .caret {
    border-left: solid 1px #ccc;
    padding: 7px 0px 7px 5px;
    width: 35px;
    height: 100%;
    border-top: none;
    margin: 0;
    box-sizing: border-box;
    &:after {
      content: "\e625";
      color: #593d73;
      font-family: 'icomoon';
      font-size: 20px;
    }
  }

  div > label {
    color: @dark;
    font-size: 11px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
  }


  .btn-group.open .dropdown-toggle,
  .btn:active {
    box-shadow: none;
  }

  button.btn span {
    font-weight: 400;
  }

  button.btn span.selected-label {
    font-weight: 700;
  }

  .dropdown-menu {
    padding: 10px 0 15px 0;
    border: 1px solid @border;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    z-index: 1021;
    > li {
      a {
        display: block;
        padding: 0 20px 0 15px;
        clear: both;
        font-size: 13px;
        font-weight: 600;
        line-height: 30px;
        white-space: nowrap;
        filter: none;
        &:hover,
        &:focus {
          color: @color-white;
          text-decoration: none;
          background-color: @purple;
          background-image: none;
          filter: none;
          span {
            color: inherit;
          }
        }
      }
      &.disabled {
        a {
          color: #999;
          &:hover,
          &:focus {
            color: #999;
            background-color: transparent;
          }
        }
      }
    }

    .h2 {
      font-size: 11px;
      color: @medium;

    }
  }

  .dropdown-header {
    &.header {
      background: @lightGrey;
      font-size: 15px;
      color: @medium;
      font-weight: 400;
      line-height: 30px;
      padding: 0 20px 0 15px;
      margin:15px 0 10px 0;
    }

    &.sub-header {
      font-size:11px;
      color:@medium;
      font-weight:400;
      text-transform:uppercase;
      padding: 15px 20px 0 30px;
    }
  }

  .dropdown-menu>li:first-of-type.header {margin-top: 0;}


  .dropdown-menu .sub a {
    padding-left:30px;
    font-size:12px;
    line-height:26px;
  }

  .btn-group+.btn-group {
    margin-left: 20px
  }

  .infobar-selector {
    &:not(:first-child){
      margin-left:15px;
    }
    .btn {
      background: #ffffff;
      background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.05) 100%);
      font-family: @mainFont;
      font-size: 13px;
      font-weight: 700;
      color: @dark;
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 4px;
    }

    .btn:focus,
    .btn:hover {
      color: @dark;
      text-decoration: none;
      background-position: 0% 0%;
      transition: none;
      background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0.0) 0%, rgba(16, 16, 16, 0.15) 100%);
    }

  }
}

// styles for view selectors
.view-selector {
  .btn-group + .btn-group {
    margin-left: 15px;
  }
  .view-icon {
    font-size: 13px;
    font-weight: 400;
    padding: 0 15px 0 37px;
    color: @link;
    font-weight: 200;
  }

  .view-icon{
    &:before{
      font-size: 20px;
      font-weight: normal;
      color: @link;
      font-family: 'icomoon';
      position: absolute;
      left: 10px;
      top: 7px;
      text-shadow: 0 1px 0 #ffffff;
    }

  }

  .btn {
    background: #ffffff;
    background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.05) 100%);
  }

  .btn:not(.selected):focus, .btn:not(.selected):hover {
    background-position: 0% 0%;
    transition: none;
    background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0.0) 0%, rgba(16, 16, 16, 0.15) 100%);
  }

  .btn-group.open .dropdown-toggle, .btn:active {
    box-shadow: none;
  }

  button.btn span {
    font-weight: 400;
  }

  .scores{
    width: 6rem;
    &:before{
      content: "\e605";
    }
  }

  .items{
    width: 8.50rem;
    &:before{
      content: "\e606";
    }
  }

  .selected {
    color: @medium;
    background:fade(@light,30%);
    -moz-box-shadow: 2px 2px 3px -1px fade(@medium,30%) inset;
    -webkit-box-shadow: 2px 2px 3px -1px fade(@medium,30%) inset;
    box-shadow: 2px 2px 3px -1px fade(@medium,30%) inset;
  }

  .selected {
    &:before{
      color: @medium;
    }
  }
}
.context-bar {
  clear: both;
  padding: 20px 0 10px 0;
  display: block;
  overflow: hidden;
  .checkbox.inline {
    padding-left: 25px;
  }

  .span3 {
    width: 240px !important;
  }
}
.compare-controls {
  font-size: 12px;
  font-weight: 600;
  color: @medium;
  .summaryLabel {
    font-size: inherit;
    padding-right: 7px;
    margin-left: 0px;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;

    .compare-toggle {

    }
  }
  label.summaryLabel.checkbox.inline {
    margin-left: 0;
  }
  .summaryLabel:hover {
    background-color: @hover;
    color: @dark;
  }
  .compare-opt-out-message {
    margin-left: 3px;
    &:before {
      font-size: 1.5em;
    }
  }
}
.no-results-msg {
  background: @bg;
  border-bottom: solid 1px @border;
  font-size: 13px;
  font-weight: 400;
  color: @medium;
  padding: 19px 1em;

  .no-data-icon {
    margin-right: .3em;
    // font-weight: 600;
    font-size: 1.5em;
    color: @dark;
    font-family: 'icomoon';
    &:before {
      content: "\e62d";

    }
  }
}
.alert-icon-suppression ~ .apply-ellipsis {
  width: ~"calc(100% - 18px)";
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.go-back-from-popover, .go-forward-from-popover {
  opacity: 0;
}

.dropdown-toggle {
  & > span.selected-label {
    padding-right: 4px;
  }
}

.popoverContent {
  max-width: 400px;
  text-align: center;
}

.expressiveness-container {
  max-width: 1000px;
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: none;

    li {
      float: left;
    }
  }
}

.cluster-popover-wrapper {
  max-width: 400px;

  div.clearfix {
    width: 100%;
    .cluster-grade-level {
      float: left;
      padding: 0px 15px 0px 0px;
      font-size: 12px;
    }

    .cluster-progression {
      float: left;
      padding: 0px 0px 0px 15px;
      font-size: 12px;
      max-width: 293px;
      border-left: 1px solid @border;
    }
  }


  .cluster-description {
    width: 100%;
    font-size: 12px;
    padding: 15px 0px 0px 0px;
  }

}

.cell-skill-holder {
  max-width: 240px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;

  & + .font-icon.info.skill {
    float: right;
    margin: 0;
  }
}

.expressivenessLevels {
  margin: 7px 0px !important;

  span.overall {
    height: 35px;
    line-height: 35px;
  }
}

#selector-container {
  position: relative;
  top: 24px;
}

.defaults-not-set-message {
    border-top: solid 1px #c2c2c2;
    font-size: 13px;
    font-weight: 400;
    color: #464b54;
    padding: 19px 0;
    position: relative;
    top:20px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #header {
    .logo {
      margin-top: -10px !important;
    }

    .selectors {
      margin-top: 15px;
    }
  }
}
