#resultSelector {
    margin-left: 15px;

    .diagnostic-result-info {
        text-transform: none;
        color: #999;
        font-style: italic;
		font-size: 12px;
		font-weight: 400;
		padding-top: 0px;
		margin-top: -.5em;
		padding-left: 15px;
		outline: none;
    }
}
