<div class="progress" tabindex="-1">
    <span class="screenreader">{{textVersion}}.</span>
    {{#performanceLevels}}
    <div aria-hidden="true" class="level-{{level}} bar {{additionalClasses}}" style="width: {{percentage}}%;">
        <span class="screenreader">{{description}}</span>
        {{^hidePercentage}}
        <span class="percentageOnBar">{{percentage}}%</span>
        {{/hidePercentage}}
    </div>
    {{/performanceLevels}}
    {{#students}}
        <span class="screenreader">total population {{students}}</span>
    {{/students}}
</div>
