<div class="claimWrapper">
	<div class="reading" aria-label="Reading {{reading}} of {{readingTotal}}">
		<div class="claimAvg">
		    <div class="bar" style="width: {{readingPercentage}}%;"></div>
		</div>
		<span class="avgRightBar" style="right: {{readingOffset}}px;">{{reading}} / {{readingTotal}}</span>
	</div>
	<div class="writing" aria-label="Writing {{writing}} of {{writingTotal}}">
		<div class="claimAvg" tabindex="-1">
		    <div class="bar" style="width: {{writingPercentage}}%;"></div>
		</div>
		<span class="avgRightBar" style="right: {{writingOffset}}px;">{{writing}} / {{writingTotal}}</span>
	</div>
</div>