body.isr[data-asmttype='SUMMATIVE'] {
	.report-intro {
		max-width: none;
		font-size: 14px;
	}
	.selectors,
	.print-widget {
		display: none;
	}

	#header {
		margin: 0 auto;
		background: none;
		border-bottom: none;
		height: auto;
		border-bottom: solid 1px @border;
		padding-bottom: .5em;
		#logo {
			float: left;
		}

		.headerStudentName {
			float: right;
			text-align: right;
			font-size: 18px;
			font-weight: 700;
		}
		.staticBreadcrumbs {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			padding-top: 0;
			font-size: 14px;
			color: #333;
			font-weight: normal;
			span {
				&:after {
					display: none;
				}
				display: block;
			}
		}
	}

	#main {
		padding-top: 0px;
		p {
			line-height: 1.5;
		}
		.perf_level {
			p {
				font-weight: 600;
			}
		}
	}
    .claim-section-score-box {
        //wkhtmlToPdf is not handling subpixels correctly
        width: 49%!important;

				.claim-section-score-label {
					font-size: 11px;
				}
    }
}

a[href]:after { content: none !important; }

.informational-paper {
	page-break-before: always;
	font-family: @mainFont;
	font-weight: 400;
	color: #333;
	font-size: 14px;
	a {
		text-decoration: underline;
		color: #000;
	}
	h4 {
		text-transform: uppercase;
	}

	li {
		margin-top: 10px;
	}
	.item-tag {
		color: #000;
		font-weight: 600;
	}
	.bold {
		font-weight: 700;
		color: #000;
	}
}

.big-num-box .big-num-label,
.big-num-box .big-num{
	color: @color-white !important; //override bootstrap print style
}
