.below {
	position: relative;
	height: auto;
	bottom: 0;

	a.hide, a.unhide {
		display: none;
	}
	.legend {
		position: relative;
		bottom: 0;
		height: auto;
		box-shadow: none;
		.centered {
			background-color: #F4F4F4;
			border-radius: .5em;
			.subclaimLevels {
				margin-right: 30px;
			}
		}
	}
}