
// unstick sticky headers for print
.fixed-wrapper.is-fixed > * {
	position: relative!important;
}

.filter-bar {
	.filter-editor {
		display: none;
	}
}

.report-intro p a {
	font-weight: bold;
	text-decoration: underline;
}
