@-moz-document url-prefix() {
	// firefox specific print styles
	/*infobar print styles*/
	.selectors .infobar-selector .btn {background: @color-white;}
	.view-selector .btn {background: @color-white;}
	.view-selector .btn.selected {
		background: rgba(153, 153, 153, 0.3) none repeat scroll 0% 0%;
	}

	/*print styles for grid*/
	.slick-header,
	.slick-col-group-header {background-image: none;}
}

