body {
  font-family: @mainFont;
  font-weight: 400;
  margin:0 auto;
  color: @medium;
  width: 100%;

  .view-selector {
    float: right;
  }
  &[data-asmtType='DIAGNOSTIC'] {
    .view-selector {
      float: left;
      clear: left;
      margin-top: 30px;
      .btn {
        font-size: 13px;
        color: @medium;
        padding: 4px 20px;
        font-weight: 400;
      }
      .btn.selected {
        background-color: @purple;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0,0,0,0.4);
      }
      .info:after {
        font-family: 'icomoon';
        content: '\e607';
        display: inline-block;
        padding-top: 0px;
        padding-left: 5px;
        font-size: 16px;
        position: relative;
        top: 3px;
      }

    }
    .view-bar-label {
      display: none;
    }
  }
}

* {
  font-family: inherit;
}

.container {
  position: relative;
  width: 980px;
  padding: 0 22px;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.btn-link:active,
.btn-link:focus {
  outline: none;
}
.screenreader {
  position: absolute;
  left: -9999px;
}
.print-widget {
  .print-button {
    position: relative;
    margin-left: 1em;
    overflow: visible;
    top: 25px;
    &:before {
      font-family: 'icomoon';
      content: "\e641";
      position: absolute;
      left: -1em;
    }
  }
  .popover {
    max-width: none;
  }
  .print-option {
    cursor: pointer;
    color: @medium;
  }
}

.hidden {
  display: none!important;
}

#main {
  margin-bottom: 80px;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  text-align: center;
  background-color: rgba(255,255,255, .5);
  z-index: 9999;
  .message{
    background: url("../images/loader.gif") no-repeat center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: block;
    line-height: 40px;
    width: 100px;
    height: 100px;
  }
}

.popover {
  max-width: none;
  background: @popover-color;
  border-radius: 2px;
  border: 1px solid @color-white;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.4);
  .popover-content {
    padding: 15px;
  }
  &.top {
    .arrow {
      border-top-color: rgba(0,0,0,.15);
      bottom: -12px;
      &:after {
        border-top-color: @popover-color;
        bottom: 2px;
      }
    }
  }
  &.bottom {
    .arrow {
      border-bottom-color: rgba(0,0,0,.15);
      &:after {
        border-bottom-color: @popover-color;
      }
    }
  }
  &.left {
    .arrow {
      border-left-color: rgba(0,0,0,.15);
      &:after {
        border-left-color: @popover-color;
      }
    }
  }
  &.right {
    .arrow {
      border-right-color: rgba(0,0,0,.15);
      &:after {
        border-right-color: @popover-color;
      }
    }
  }
}

.name-value-pairs-title {
  font-size: 14px;
  font-weight: 600;
  color: @dark;
  padding-bottom: 15px;
  display: block;

  &.sub-title {
    font-size: 12px;
    padding-bottom: 0;
  }
}
.name-value-pairs {
  margin-left: 0;
  &.titled {

  }

  &.bold-values .value {
    font-weight: 600;
  }
  .name-value-pair {
    display: inline-block;
    padding: 0 20px;
    &:first-child {
      padding-left: 0;
    }
  }

  .name, .value {
    display: block;
    font-weight: 400;
  }

  .name {
    font-size: 10px;
    text-transform: uppercase;
    color: @medium;
  }
  .value {
    font-size: 12px;
    color: @dark;
  }
}

.apply-button {
  background-color: @level4;
  background-image: none;
  border: 1px solid fade(@medium, 30%);
  color: #fff;
  text-shadow: none;
  box-shadow: 0 1px rgba(255,255,255,.5) inset;
}

#no_results {
  position: absolute;
  top: 15px;
}
