// ************************
// Black and Whites
// ************************
@color-black: #000000;
@color-white: #ffffff;
@color-red: #ff0000;

.blackText {
  color: @color-black;
}

.whiteText {
  color: @color-white;
}

// ***********************
// Color Theme
// ***********************
@dark: #101010;
@medium: #464b54;
@light: #999999;
@lighter: #e5e5e5;
@lightGrey: #f2f2f2;
@bg: #fafafa;
@hover: #f1f7fb;

@purple: #70537c;
@purpleDark: #593d73;

@link: #2e7996;
@border: #c2c2c2;
@popover-color: #ebf2f5;

// ***********************
// Perf Level
// ***********************
@level1: #eb6725;
@level2: #ed8d24;
@level3: #eacc4c;
@level4: #8dc753;
@level5: #389845;

@perfBelow: #ff4445;
@perfNear: #4c98c9;
@perfAbove: #79c955;

@probNotMastered: #B0231B;
@possiblyMastered: #D2B744;
@probablyMastered: @level5;

@popoverColor: #EBF2F5;
