/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-row.ui-widget-content,
.slick-row.ui-state-active {
  border-bottom: 1px solid @border;
}
.slick-header {
  background: @bg;
  border-bottom: 1px solid @border;
  border-top: 1px solid @border;
  background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.05) 100%);
}
.slick-header-columns {
  height: 48px;
}
.slick-header-column.ui-state-default {
  padding-left: 0;
  padding-right: 0;
  display: table;
  box-sizing: border-box;
  table-layout: fixed;
  vertical-align: middle;
  height: 100%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #101010;
  border-right: 1px solid @border;
  -webkit-box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  -moz-box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(16, 16, 16, 0.03);
    outline: none;
  }
}

.slick-header-column {
  &.text-right {
    .slick-column-name {
      margin-right: 1em; // special case right gutter
      text-align: right;
    }
  }
  &.text-left {
    .slick-column-name {
      text-align: left;
      text-indent: .5em;// special case for left gutter
    }
  }
  &.text-center {
    .slick-column-name {text-align: center;}
  }
}
.slick-header-column:first-child, .firstHeaderColumn {
  .slick-column-name {
    text-align: left;
    padding-left: 1.25em;
  }
}
.slick-header-column.ui-state-default:not(.rightBorder):last-child {
  border-right: 1px solid transparent;
}
/*sticky rows*/
.header-grid {
  overflow:visible!important;
  .slick-viewport {
    overflow: visible!important;
  }
  .slick-row {
    background-color: @bg;
  }
  .slick-row:last-child {
    -webkit-box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 4px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 4px 10px -5px rgba(0, 0, 0, 0.3);
    border-bottom: none;
  }
}
/*end sticky rows*/

.slick-header-column.wrap {
  line-height: 0.8125rem;
}
.header-grid span.sub {
  display: block;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
}
.slick-cell {
  line-height: 2.5em;
  text-align: center;
  padding-top:.6875em;
  padding-bottom: .6875em;
  border-right: 1px solid @border;
  -webkit-box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  -moz-box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  * {
    page-break-inside: avoid!important;
  }

  .invisible-cell {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: @lighter;
  }

  .grade-name {

  }

  &.text-right {
    padding-right: 1em;
    text-align: right;
  }
  &.text-left {
    text-align: left;
    text-indent: .5em;// special case for left gutter

  }
  &.text-center {
    text-align: center;
  }
}
.slick-cell:first-child, .firstColumn {
  padding-left: 1.25em;
  text-align: left;
}
.slick-cell:not(.rightBorder):last-child {
  border-right: none;
}
.slick-row {
  z-index: 1;
  line-height: 2.6em;
  border-bottom: 1px solid @border;
  background: @color-white;
  font-size: 13px;
  line-height: 1.75em;
  font-weight: 600;
  color: @dark;
  border-bottom: @border;
  &:hover {
    background: @hover;
  }

  &.noDrillDown:hover {
    background: @color-white !important;
  }

  .suppressed-row {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: @lighter;
    height: 100%;
    line-height: 3.5em;
    z-index: 2;
    width:100%;
  }

}

.report-grid .right{
  text-align: right;
}
.report-grid .center, .report-grid .center{
  text-align: center;
}

.slick-column-name {
  text-align: right;
  float: right;
  margin-right: 3em;
  overflow: hidden;
  text-overflow: ellipsis;

  .claim_avg_header_cell {
    position: relative;
    top: 3px;

    .square:first-child {
      background-color:#2e7996;
    }

    .square:last-child {
      background-color:#83b8be;
      margin-left: 19px;
    }
  }
}

.slick-cell.right .group-header-row {
  text-align: left;
}

// Pagination Bar styles
.paginate-bar {
  overflow:hidden;
  background: #fafafa;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}
.next-arrow, .prev-arrow {
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.next-arrow {
  margin-right: 1em;
  padding-right: 1em;
  &:after {
    display: block;
    position: absolute;
    height: 1.25rem;
    font-size: 1em;
    font-weight: normal;
    right: 0;
    top: 0;
    content: "\003e";
  }
}
.prev-arrow {
  margin-left: 1em;
  padding-left: 1em;
  &:before {
    display: block;
    position: absolute;
    height: 1.25rem;
    font-size: 1em;
    font-weight: normal;
    left: 0;
    top: 0;
    content: "\003c";
  }
}
#sticky-header {
  background-color:#fff;
  position: relative;
  z-index: 2;
}

.content-grid {
  margin-top: -50px;
  &.no-header {
    margin-top: 0;
  }
}

.slick-column-name {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  float: none;
  margin-right: 0;
  white-space: normal;
  font-weight: 700
}
.slick-header-column {
  .slick-column-name,
  .info,
  .slick-sort-indicator {
    display: table-cell;
    vertical-align: middle;
  }
  .info {
    text-align: left;
    color: @light;
    width: 20px;
    &:hover {
      color: @medium;
    }
  }
}
.light-text .slick-column-name {
  font-weight: 400;
  color: @medium;
}

.slick-header-column-sorted {
  font-style: normal;
}
.slick-sort-indicator {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  width: 13px;
  float: none;
  background-repeat: no-repeat;
  background-position: center;
  &.slick-sort-indicator-asc,
  &.slick-sort-indicator-desc {
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sub-header {
  .slick-sort-indicator {
    padding-top: 18px;
    background-position-y: 75%;
  }

  .info {
    padding-top: 18px;
  }
}
.slick-sort-indicator-desc {
  // TODO: Please remove the .gif once we have new sort images from designer
  background: url('../images/sort-desc.gif');
}
.slick-sort-indicator-asc {
  // TODO: Please remove the .gif once we have new sort images from designer
  background: url('../images/sort-asc.gif');
}
/* Group Headers styles */
.slick-group-header {
  //margin-bottom: -26px;
  margin:0;
  z-index: 999999;
  position: relative;
  display: block;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.75em;
  box-sizing: border-box;
  border-width: 0px;
  //overflow: hidden;
  overflow: visible;
  //height: 1.75em;
  height: 0;
  top:-2px;
}
.slick-col-group-header {
  display: inline-block;
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.05) 100%);
  height: 22px;/*100%;*/
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  font-weight: 600;
  color: #101010;
}

.slick-header-column.ui-state-default.sub-header {
  padding-bottom: 0px;
  .slick-column-name {
    padding-top: 18px;
  }
}

.lightHeader {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: @medium;
  display: block;
  line-height:1.2;
}
.avgHeader {
  right: 55px;
  position: relative;
}
.square{
  margin-right: 4px;
  display:inline-block;
  width:10px;
  height:10px;
}

.grid-canvas {
  .info {
    display: inline;
    margin-left: 5px;
  }
}

.slick-viewport {
  overflow: hidden !important;
}

.disabled {
  color: #b7b7b7
}