@mainFont: 'Open Sans', sans-serif;
/*MIXIN to center content vertically*/
.vertical-center() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
};

.scrollable-menu {
  height: auto;
  max-height: 180px;
  overflow-x: hidden;
}

.popover {
  max-width: none;
  background: @popoverColor;
  border-radius: 2px;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.4);
  .popover-content {
    padding: 15px;
  }
  &.top {
    .arrow {
      border-top-color: rgba(0,0,0,.15);
      bottom: -12px;
      &:after {
        border-top-color: @popoverColor;
        bottom: 2px;
      }
    }
  }
}
