/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
.slick-row.ui-widget-content,
.slick-row.ui-state-active {
  border-bottom: 1px solid #c2c2c2;
}
.slick-header {
  background: #fafafa;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.05) 100%);
}
.slick-header-column.ui-state-default {
  height: 2.5rem;
  font-size: 0.6875rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #101010;
  border-right: 1px solid #c2c2c2;
  box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
  cursor: pointer;
}
.slick-header-column.ui-state-default:hover {
  background: rgba(16, 16, 16, 0.03);
}
.slick-header-column:first-child .slick-column-name {
  float: left;
  padding-left: 1.25em;
  margin: auto;
}
.slick-header-column.wrap {
  line-height: 2.8125rem;
}
#gridHeader span.sub {
  display: block;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
}
.slick-header-column.info:after {
  display: block;
  position: inherit;
  width: 1.25em;
  height: 1.25em;
  font-family: 'icomoon';
  content: "\e625";
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: normal;
  right: 0.9375rem;
  top: 50%;
  margin-top: -0.625em;
  color: #999999;
}
.slick-header-column:hover.info:after {
  color: #101010;
}
.slick-cell {
  font-size: 0.8125em;
  line-height: 1.75em;
  font-weight: 600;
  color: #101010;
  text-align: center;
  padding-top: .6875em;
  padding-bottom: .6875em;
  border-right: 1px solid #c2c2c2;
  box-shadow: 0.0625rem 0rem 0rem 0rem #ffffff;
}
.slick-cell:first-child {
  padding-left: 1.25em;
  text-align: left;
}
.slick-row {
  border-bottom: 1px solid #c2c2c2;
}
.slick-row:hover {
  background: #f1f7fb;
}
#gridTable .right,
#gridHeader .right {
  text-align: right;
}
#gridTable .center,
#gridHeader .center {
  text-align: center;
}
.slick-row:first-child {
  background: #fafafa;
}
/*
.slick-row:first-child .slick-cell:first-child span {
    display:block;
    height:14px;
    line-height:14px;
}


.slick-row:first-child .slick-cell:first-child span.sub {
    display:block;
    font-size:10;
    font-weight:400;
    line-height:14px;
}
*/
.slick-column-name {
  text-align: right;
  float: right;
  margin-right: 3em;
}
.paginate-bar {
  overflow: hidden;
  background: #fafafa;
  border-top: 1px solid #c2c2c2;
  line-height: 1.875rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}
.next-arrow,
.prev-arrow {
  font-weight: bold;
  position: relative;
}
.next-arrow {
  margin-right: 1em;
  padding-right: 1em;
}
.next-arrow:after {
  display: block;
  position: absolute;
  height: 1.25rem;
  font-size: 1em;
  font-weight: normal;
  right: 0;
  top: 0;
  content: "\003e";
}
.prev-arrow {
  margin-left: 1em;
  padding-left: 1em;
}
.prev-arrow:before {
  display: block;
  position: absolute;
  height: 1.25rem;
  font-size: 1em;
  font-weight: normal;
  left: 0;
  top: 0;
  content: "\003c";
}
#sticky-header {
  /* z-index: 9999; */
  background-color: #fff;
  position: relative;
}
#gridTable {
  margin-top: -50px;
}
