.export-link {
  cursor: pointer;
}

#DataExportModal {
  margin: 0 auto 20px;
  left: 0;
  right: 0;

  .modal-dialog {
    .modal-content {
      .modal-body {
        min-height: 100px;
        p {
          text-align: center;

          a#start-over-export {
            color: @link;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .dropdown-toggle {
          span {
            padding: 4px 0;
            padding-right: 4px;
          }
        }

      }
    }
  }
  .selected-label {
    max-width: 18em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
