<div class="perf-section" aria-hidden="true">
    <div class="student-score" style="padding-left:{{indicator}}%">
        <span class="indicator-descriptor">
          {{#isPdf}}
            {{labels.child_score}}:
          {{/isPdf}}
          {{^isPdf}}
            {{labels.student_score}}:
          {{/isPdf}}
            <span class="score">{{score}}{{^isPdf}}*{{/isPdf}}</span>
        </span>
        <div class="perf-indicator"></div>
    </div>
    <div class="perf-detail-section" style="width:100%;">
    {{#performance}}
        <div class="performance-section perf{{level}}" style="width:{{width}}%">
       {{#startCutpoint}}
            <span class="cut-point-value start">{{cutpoint_start}}</span>
       {{/startCutpoint}}
            <!-- if is first  -->
            <span class="cut-point-value end">{{cutpoint_end}}</span>
            <span class="level-number">Level {{level}}</span>
        </div>
    {{/performance}}
    </div>
    {{#ccReady}}
    <span class="ccr-indicator isr-ccr-indicator">
      {{labels.collegeCareerReady}}
    </span>
    {{/ccReady}}
</div>

<ul class="bar-legand name-value-pairs">
    {{^isPdf}}
    <li class="name-value-pair margin-of-error" aria-label="{{labels.margin_of_error}} is &#177 {{error}}">
      <span role="presentation" class="name">* {{labels.margin_of_error}}</span>
      <span role="presentation" class="value">&#177 {{error}}</span>
    </li>
    {{/isPdf}}


    {{#summary}}
        {{#type}}
            <li class="name-value-pair" aria-label="{{type}} average is {{#showApplicableValue}}{{average_score}}{{/showApplicableValue}}">
                <span role="presentation" class="name">{{type}} {{labels.avg}}</span>
                <span role="presentation" class="value">{{#showApplicableValue}}{{average_score}}{{/showApplicableValue}}</span>
            </li>
        {{/type}}
    {{/summary}}
</ul>
