{{#isPdf}}
<div class="report-intro">
  <p>{{{data.subject_intro}}}</p>
</div>

{{/isPdf}}

<div class="row" aria-labelledby="overall-heading" role="region">
  <div class="report-header" >
      <h4 id="overall-heading" aria-hidden="true">{{aboveTitle}} Performance</h4>
  </div>
    <div class="span4 border-right overall-performance-box" role="listitem">
        <span class="level level-{{data.overall.level}}">
          <span class="overall-level-indicator">Level {{data.overall.level}}</span>
        {{#data.overall.descriptions}}
        <p>{{{.}}}</p>
        </span>
        {{/data.overall.descriptions}}
        {{#isPdf}}<i>For a description of each performance level, see page 2.</i>{{/isPdf}}
    </div>
    <div class="span8">
        {{{perfBar}}}
    </div>
</div>
<div class="row" aria-label="Subscores" role="region">
    {{#data.subscores}}
    <div class="span{{cols}} {{subject}}" aria-labelledby="{{claim_type}}-heading" role="region">
        <div class="row">
            <div class="span{{cols}}">
              <h4 aria-hidden="true" id="{{claim_type}}-heading">{{claim_text}}</h4>
            </div>
            {{#subscore}}
                <div class="span{{cols}} subscores">
                    <div class="row subscore">
                        <div class="span2">
                            <p class="claim-section-score-range-box">
                                <span class="claim-section-score-range-label">
                                    {{labels.score_range}}:
                                </span>
                                <br />
                                <span class="claim-section-score-range-value">{{min}} to {{max}}</span>
                            </p>
                            <p class="claim-section-student-score-box">
                                <span class="claim-section-student-score-label">
                                    {{score_label}}:
                                </span>
                                <br />
                                <span class="claim-section-student-score-value">
                                    {{score}}
                                </span>
                            </p>
                        </div>
                        <div class="span4">
                            <ul class="claim-section-scores">
                                <li class="claim-section-score-box {{type}}" aria-label="{{labels.avg}}. {{labels.students_just_meeting_expectations}} is {{avg_meet_expectations}}">
                                    <span class="claim-section-score-label" aria-hidden="true">
                                        {{labels.avg}}.
                                        <span aria-hidden="true">{{labels.students_just_meeting_expectations}}
                                        </span>
                                    </span>
                                    <span class="claim-section-score-value" aria-hidden="true">{{avg_meet_expectations}}</span>
                                </li>
                                {{#averages}}
                                <li class="claim-section-score-box {{type}}" aria-label="{{type}} {{labels.average}} is {{average_score}}">
                                    <span class="claim-section-score-label" role="presentation">
                                        {{type}}
                                        <span role="presentation">{{labels.average}}</span>
                                    </span>
                                    <span class="claim-section-score-value" role="presentation">
                                        {{average_score}}
                                    </span>
                                </li>
                                {{/averages}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/subscore}}
        </div>
    </div>
    {{/data.subscores}}
    {{#data.subscores}}
        <div class="span{{cols}} {{subject}}">
            <div class="row">
                {{#claims}}
                    <div aria-labelledby="claim_{{ariaid}}" class="span6 border-bottom claims">
                        <h5 aria-hidden="true" id="claim_{{ariaid}}">{{name}}</h5>
                        <div class="perf_level">
                            <span aria-hidden="true" class="glyphicon perf_level_{{level}}"></span>
                            {{#show_claim_level}}
                            <p>{{level}}</p>
                            {{/show_claim_level}}
                        </div>
                        <p>{{desc}}</p>
                    </div>
                {{/claims}}
            </div>
        </div>
    {{/data.subscores}}
    {{#data.additional_info}}
        <div class="span6 border-top">
            <p>{{description}}<br />
            <a class="learn-more-link" href="{{link}}">{{label}}</a>
            </p>
        </div>
    {{/data.additional_info}}
</div>
<div id="footnote"></div>
