body.growth #gridWrapper {
  width: 300px;
  float: left;
}
body.growth #growthChart {
  float: right;
}
body.growth .axis path,
body.growth .axis line {
  fill: none;
  stroke: #a2a19f;
  shape-rendering: crispEdges;
}
body.growth .bubble {
  fill: #72c0d1;
  stroke: #ffffff;
  opacity: 0.8;
}
body.performance #growthChart {
  display: none;
}
