body.cpop {
    .view-selector {
      .performance{
        width: 8.50rem;
        &:before{
           content: "\e60c";
        }
      }

      .growth{
        width: 6rem;
        &:before{
           content: "\e60d";
        }
      }
    }

    &[data-view='growth'] {
        @gridWidth: 332px;
        #gridWrapper {
            width: @gridWidth;
            float: left;
             border-right: 1px solid @border;
        }
        .report-grid {
          width: @gridWidth;
        }
        #growthChart {
            float: right;
            display: block !important;
        }
        #main {
          margin-bottom: 50px;
        }
        #footnote {
          float: left;
          width: 332px;
        }
    }

    &[data-view='performance'] {

        #growthChart {
            display: none;
        }

        .slick-header-bar {
          .header-grid {
            display: block;
            width:100%;
          }
        }
    }

    .growth-percentile {
      border-bottom: solid 1px @border;
    }
}