body.isr{

  .slick-group-header {
    z-index: 2;
  }

  .no-results-msg {
    clear: both;
    position: relative;
    top: 2em;
    border-top: solid 1px @border;
  }

  .assessment-type-header {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: @dark;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
  }

  #header{
    color: @dark;
    .nav { display: none; }
    #logo { float: right;}
    .headerStudentName {
      padding-top: 15px;
      font-size: 30px;
      font-weight: 300;
    }
    .staticBreadcrumbs {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 400;
      padding-top: 10px;
      span{
        &:after {
          padding-left: 5px;
          padding-right: 5px;
          content: "\002022"
        }
        &:last-of-type:after {
          content: '';
        }
      }
    }
  }
  #breadcrumb, .context-bar, .view-selector {
    display: none;
  }

  .aboveReportTitle{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .reportTitle{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  #main {
      padding-top: 20px;

      h4 {
          font-family: 'Trebuchet MS', sans-serif;
          font-size: 17px;
          font-weight: 600;
          color: @dark;
          text-transform: uppercase;
          border-bottom: 1px solid @light;
          padding-bottom: 5px;
      }

      h5 {
          font-family: @mainFont;
          font-size: 15px;
          font-weight: 600;
          color: @medium;
          text-transform:uppercase;
      }

      p {
          font-family: @mainFont;
          font-size: 13px;
          line-height: 1.75;
          margin-bottom: 12px;

          b {
              color: @dark;
          }
      }

      .overall-performance-box {
        min-height: 200px;

        .overall-level-indicator {
          font-weight: 600;
        }
      }

      span.level {
          border-radius: 4px;
          font-family: @mainFont;
          font-size: 18px;
          font-weight: normal;
          color: #000000;
          width: 100%;
          display: block;
          text-align: center;
          line-height: 36px;
          margin-bottom: 10px;

          &.level-1 {
              background-color: @level1;
          }

          &.level-2 {
              background-color: @level2;
          }

          &.level-3 {
              background-color: @level3;
          }

          &.level-4 {
              background-color: @level4;
          }

          &.level-5 {
              background-color: @level5;
          }
      }

      .subscore-intro {
        padding: 5px 10px;
        background-color: #F4F4F4;
        margin: 10px;
      }
      .subscores {
        border-bottom: solid 1px @dark;
      }
      .subscore {
          p {
              font-size: 12px;
          }

          .span2 {}

          .span4 {
              width: 299px;
              margin-left: 10px;
          }
      }

      span.glyphicon {
          float: left;
          margin-right: 15px;
          line-height: 30px;
          left: 0px;

          &:before {
              font-size: 30px;
          }
      }

      .perf_level {
          padding-bottom: 10px;

          p {
              margin-bottom: 0px;
              line-height: 15px;

              &:first-of-type {
                  font-weight: 600;
                  color: @dark;
              }
          }
      }

      & > .row {
          margin-bottom: 30px;
      }

      .subject1 {
          .border-bottom:nth-last-child(-n + 2) {
              border-bottom: none;
          }
          .claims:nth-child(2n+1) {
              float: left;
              clear: both;
          }
          .claims:nth-child(2n) {
              float: right;
          }
      }
      .subject2 {
          .border-bottom:last-child {
              border-bottom: none;
          }
      }
  }

  .border-right {
      padding-right: 20px;
      border-right: solid 1px @border;
      box-sizing: border-box;
  }
  .border-top {
    padding-top: 10px;
    border-top: solid 1px @border;
  }
  .border-bottom {
      padding-bottom: 10px;
      border-bottom: solid 1px @border;
  }


  /* performance bar: - work in progress please dont modify*/
  @bgFade: 25%;//background opacity
  @barHeight: 14px;// height of performance bar
  @levelDivider: solid 1px @light;//dividers for levels performance bar

  /* MIXIN */
  /*creates the bar and background color for level number passed in*/
  #decorateLevel(@levelNum) {
    @colorVar: "level@{levelNum}";//the color var name for level
    @color: @@colorVar; // color value
    .level.level-@{levelNum} {
      background-color: fade(@color, @bgFade) !important;

      p {
        text-align: left;
        padding: 10px;
      }
    }
    .performance-section.perf@{levelNum} {
      border-top-color: @color;
      background-color: fade(@color, @bgFade);
    }
    .performance-section.perf@{levelNum}:after {
      border-left-color: @color;
    }
  }

  /*common css for pseudo elements*/
  #pseudo-shape() {
    content: '';
    width: 0px;
    height: 0px;
  }

  .perf-section {
    padding-top: 15px;
    //*
    //* The Bootstrap grid we are using is set as 940px
    //* but our pages are really 1000/1024px
    //* we need to refector this.
    //* for now we just fix it as needed
    //* by pulling with negative margins
    //*/
    margin-right: -5px;
  }

  .student-score {
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    color: @medium;
    .score {
      font-weight: 600;
      color: @dark;
    }
  }

  .indicator-descriptor {
    position: relative;
    min-width: 155px;
    left: -4.5em;
    display: inline-block;
  }

  .perf-indicator {
    position: relative;
    width: 1.15px;
    height: 20px;
    background-color: @color-black;
    margin-bottom: -2px;
    z-index: 7;
  }

  .perf-indicator:before{
    @radius: 4px;
    content: '';
    position: absolute;
    top: 100%;
    left: -@radius;
    width: @radius * 2;
    height: @radius * 2;
    background-color: @color-black;
    border: solid 1px @color-white;
    border-radius: @radius + 1; /*extra is because of border*/
    z-index: 6;
  }

  .cut-point-value {
    position:absolute;
    top: -1em;
    margin-top: -(@barHeight + 5);/*space between bar and number*/
    font-size: 11px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 400;
    color: @medium;
  }
  .cut-point-value.start {
    left: 0;
  }
  .cut-point-value.end {
    right: 0;
  }

  .perf-detail-section {
    position: relative;
    height: 75px;
  }

  .performance-section {
    position: relative;
    float:left;/*fixing inline white-space issue*/
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    padding-top:10px;
    border-top: solid @barHeight;
    border-left: @levelDivider;
    margin:0;
    text-align: center;
  }

  .performance-section:last-child {
    border-right: @levelDivider;
  }

  .level-number, .level-name {
    display: block;
    font-size: 11px;
    line-height: 3.5;
  }

  .level-number {
    color: @dark;
    font-weight: 600;
    text-transform: uppercase;
  }

  .level-name {
    text-transform: capitalize;
    word-spacing: 625px; /* Width of entire perf bar (forces break after each word in perf-bar level names) */
    color: @medium;
    font-family: Trebuchet MS, sans-serif;
  }

  /*arrow shapes and colors*/
  .performance-section:after,
  .performance-section:before,
  .perf-detail-section:after {
    #pseudo-shape();
    position: absolute;
    top: -@barHeight;
    left: 100%;
    border-width: @barHeight / 2;
    border-style:solid;
    border-color: transparent;
    z-index: 5;
  }

  .performance-section:before {
    border-left-color: @light;
    margin-left:1px;
  }

  #decorateLevel(@levelNum: 1);
  #decorateLevel(@levelNum: 2);
  #decorateLevel(@levelNum: 3);
  #decorateLevel(@levelNum: 4);
  #decorateLevel(@levelNum: 5);

  .performance-section {
  	&.perf3:before {
      border-left-color: #555;
      margin-left: 2px;
  	}

  	&.perf4 {
  		border-left: 2px solid #555;
  	}
  }

  .perf-detail-section:after {
    top: 0px;
    left: -(@barHeight / 2);
    border-color: @level1 transparent;
  }

  .performance-section:after {
    margin-right: -1px;//flush borders
  }

  .bar-legand {
    background-color: #F4F4F4;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 5px;
    display: inline-block;
    padding-left: 20px;
    .name-value-pair {
      margin: 10px 0;
    }
    .name-value-pair.margin-of-error {
      border-right: @levelDivider;

      span {
        &:nth-child(2) {
          margin-left: 8px;
        }
      }
    }
  }

  .name-value-pairs {

    .name-value-pair {
      line-height: 1.2;

    }

    .name-value-pair.subscore-summary{
      padding: 0 5px;
      margin: 0 0 7px;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .claim-section-student-score-value {
    font-weight: 600;
    color: @color-black;
  }

  .claim-section-score-range-value {
    font-weight: 600;
  }

  .claim-section-scores {
    list-style-type: none;
    background-color: #F4F4F4;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    font-size: 0px; // inline white-space fix
    .claim-section-score-range-box {
        margin-bottom: 3em;
    }
    .claim-section-score-box {
        width: 50%;
        display: inline-block;
        font-size: 12px;
        text-align: center;
        vertical-align: top;
        padding: .3em 1em;
        box-sizing: border-box;
        &.school {
            .claim-section-score-label {
                margin-bottom: 1em;
            }
        }
    }
    .claim-section-score-label,
    .claim-section-score-value {
        display: block;
    }
    .claim-section-score-label {
        line-height: 1;
        text-transform: capitalize;
        span {text-transform: none;}
    }
    .claim-section-score-value {
        font-weight: 600;
        line-height: 2;
        color: @color-black;
    }
    &:before,
    &:after {
        position: absolute;
        background-color: @border;
        display: block;
        content: ' ';
    }
    &:before {
        top: 0;
        bottom: 0;
        left: 50%;
        width:1px;
    }
    &:after {
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
    }
  }
  .perf_level_1,
  .perf_level_2,
  .perf_level_3,
  .perf_level_4 {
    &:before {
        color: @perfNear;

    }
  }
}

.informational-paper {
  .about-report {
    background: #f4f4f4;
    padding: 10px;
    p {
      padding: 0px 5px;
    }
    h4{
      font-family: 'Trebuchet MS';
      font-weight: 600;
      text-align: center;
    }
  }

  .faq-items {
    list-style: none;
    padding: 0;
    margin: 0;
    & > li {
      list-style-type: none;

      & li {
        list-style-type: disc;
        span:first-child {
          margin-right: 3px;
        }
      }
    }
  }

  .more-info {
    margin: 15px 0px;
    background: @perfNear;
    padding: 15px;
    font-size: 16px;
    color: #fff !important;
    a {
      color: #fff !important;
    }
  }
}

.report-header {
  margin-left: 20px;
}

.learn-more-link {
  font-weight: 600;
  text-decoration: underline;
}
