body {
  &[data-view="itemAnalysis"] {
    .popover {
      max-width: none;
      background: @popoverColor;
      .name-value-pairs {
        .name-value-pair {
          padding-right: 15px;
          &.list-item {
            border-right: solid 1px @light;
            &:last-child {
              border-right: none;
            }
          }
          .name {
            color: @medium;
          }
          .value {
            text-transform: capitalize;
          }
          .values-delimiter {
            padding: 0 2px 0 2px;
            &:before {
              content: '\2022';
            }
            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
  &[data-view='scores'] {
    .popover {
      position: fixed;
      .progress {
        width: 350px;
        padding: 0;
        margin: 0;
      }
    }
  }
}