body.schrpt{
  &[data-asmttype="DIAGNOSTIC"] {
    .slick-cell:first-child {
      text-transform: capitalize;
    }

    .filter-bar .crumb-bar {
      border-top: solid 1px @border;
    }
  }
  &[data-asmttype="SUMMATIVE"] {

    .slick-cell:first-child {
      font-family: @mainFont;
      font-size: 11px;
      font-weight: 600;
      color: @dark;
      padding-top: .8125em;
      padding-right: 10px;
      padding-bottom: .8125em;
      text-transform: uppercase;
    }

  }
  &[data-view="read_flu"] {
    #main {
        margin-bottom: 84px;
    }
  }
  .alert-icon-suppression {
//    display: inline-block;
//    margin-bottom: -.5em;
//    position: static;
  }
  .expand.group-toggle {
    font-family: @mainFont;
    font-size: 10px;
    font-weight: 400;
    color: @medium;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-left: .8em;
    display: inline-block;
    box-sizing: border-box;
  }
  .expand.group-toggle:hover {
    text-decoration: underline;
  }
  .expand.group-toggle:before {
    font-family: 'icomoon';
    color: @medium;
    font-size: 1.5em;
    position: absolute;
    margin-left: -.8em;
  }
  .expand.group-toggle[state='hidden']:before {
    content:"\e611";
  }
  .expand.group-toggle[state='expanded']:before {
    content:"\e610";
  }
  .legend .float.ccr:before {
    visibility: hidden;
    display: none;
  }
  .legend ul li .side_border_4.ccr {
    visibility: hidden;
    display: none;
  }
  .legend ul li .side_border_5.ccr {
    visibility: hidden;
    display: none;
  }
  .legend ul.ccr .overall_perf_level:nth-child(5) {
    border-bottom: none;
  }
  .legend ul.ccr .overall_perf_level:nth-child(6) {
    border-bottom: none;
  }
  .slick-row {
    border: none;
  }
  .slick-cell {
    font-family: @mainFont;
    font-size: 13px;
    font-weight: 600;
    color: @dark;
  }

  .group-header-row {
    text-transform: capitalize;
  }
  .group-header-row.with-collapsible-children {
    padding-top: 0em;
  }
  .group-header-row {
    font-family: @mainFont;
    font-size: 13px;
    font-weight: 600;
    padding-top: .8125em;
    text-decoration: none;
  }
  .group-header-row {
    .btn-link {
      padding: 0;
      border: 0;
      &:focus {
        text-decoration: underline;
      }
    }
    .group-header-title {
      line-height: 1.2;
    }
  }
  .group-header-title {
    display: block;
    line-height: .5;
  }
  .summary-compare-row {
    opacity: 0.5;
    font-size: 10px;
    color: @medium;
    .progress {
      margin: 6px 10px 0 10px;
      height: 18px;
      .bar {
        height: 18px;
        font-size: 10px;
        filter: none;
      }
    }
  }
}
