<div class="informational-paper">
	<div class="header-container"></div>
	<div class="container">
		<h1 class="aboveReportTitle" >{{aboveTitle}}</h1>
		<h1 class="reportTitle" >{{title}}</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12 about-report">
				<h4 class="">{{faqs.header}}</h4>
				<p>{{faqs.opening_statement}}</p>
				<ul>
					{{#faqs.questions}}
					<li>{{.}}</li>
					{{/faqs.questions}}
				</ul>
			</div>
			<div class="span12">
				<ul class="faq-items">
					{{#faqs.faqs}}
						<li class="faq-item">
							<span class="item-tag faq-question">{{{question}}}</span>
							{{#answer}}
								<span class="faq-answer">{{{answer}}}</span>
							{{/answer}}
							{{^answer}}
								<ul>
									{{#definitions}}
										<li>
											<span class="item-tag">{{tag}}</span>
											<span class="item-definition">{{{definition}}}</span>
										</li>
									{{/definitions}}
								</ul>
							{{/answer}}
						</li>
					{{/faqs.faqs}}
				</ul>
			</div>
			<div class="span12 more-info">
				For information and resources, including sample PARCC test questions and the PTA’s Guide to Student Success, visit <a href="http://www.understandthescore.org">understandthescore.org</a>.
			</div>
		</div>
	</div>
</div>
